@font-face {
  font-family: builder-font;
  src: url(BLOKTYPE.TTF);
}
@font-face {
  font-family: investor-font;
  src: url(DollarBill.ttf):
}
@font-face {
  font-family: designer-font;
  src: url(noelanscript.otf);
}
@font-face {
  font-family: diehard-font;
  src: url(DESTROY_.TFF);
}
