@font-face {
  font-family: builderFont;
  src: font-url('fonts/BLOKTYPE.TTF') format('truetype'),;
}
@font-face {
  font-family: investorFont;
  src: font-url('fonts/DollarBill.ttf') format('truetype'),;
}
@font-face {
  font-family: designerFont;
  src: font-url('fonts/noelanscript.otf') format('opentype'),;
}
@font-face {
  font-family: diehardFont;
  src: font-url('fonts/DESTROY_.TFF') format('truetype'),;
}


.builder-font {
  font-family: builderFont;
  font-size: 4.5rem;
  line-height: 1;
} 
.investor-font {
  font-family: investorFont;
  font-size: 3rem;
  line-height: 1;
} 
.designer-font {
  font-family: designerFont;
  font-size: 4rem;
  line-height: 1.5;
} 
.diehard-font {
  font-family: diehardFont;
  font-size: 1.5rem;
  line-height: 1;
} 
.standard-font {
  font-family: "Open Sans", sans-serif;
  font-size: 1.45rem;
  line-height: 1;
  text-align: right;
} 
