@font-face {
  font-family: builder-font;
  src: url(BLOKTYPE.TTF);
}
@font-face {
  font-family: investor-font;
  src: url(DollarBill.ttf);
}
@font-face {
  font-family: designer-font;
  src: url(noelanscript.otf);
}
@font-face {
  font-family: diehard-font;
  src: url(DESTROY_.TFF);
}


.builder-font {
  font-family: builder-font;
  font-size: 1.5rem;
} 
.investor-font {
  font-family: investor-font;
  font-size: 1.5rem;
} 
.designer-font {
  font-family: designer-font;
  font-size: 1.5rem;
} 
.diehard-font {
  font-family: diehard-font;
  font-size: 1.5rem;
} 
.standard-font {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
} 
