.media {
}

.media__flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2em;
}

.media__group {
  flex-basis: 33%;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  img {
    margin: 0 auto;
    width: 150px;
  }
}

@media screen and (min-width: $viewport-m) {
  .media__flex{
    flex-direction: row;
  }
}
