.nav {
  padding: 1em 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

@media screen and (min-width: $viewport-m) {
  .nav {
    flex-direction: row;
  }
}

a.nav {
  text-decoration: none;
}

.nav__spacer {
  flex-grow: 1;
}

.nav__link {
  margin: 0 16px;
  text-decoration: none;
}

.nav__logo {
  height: 40px;
  min-width: 153px;
}
