.pricing-table {
  font-weight: 300;
  margin: 0 auto;
  max-width: 750px;
}

.pricing-table__flex {
  display: flex;
}

.pricing-table__wrapper {
  padding-top: 24px;
}

.pricing-table__header {
  margin-left: 10px;
  margin-bottom: 20px;
}

.pricing-table__option {
  flex-basis: 33%;
  background-color: #e2e1de;
  padding: 16px;
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 3rem;
    line-height: 2;
    font-weight: 300;
    text-align: center;
    padding-bottom: 0;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    li { margin-bottom: 7px; }
    i { font-size: 16px; }
  }
  p {
    padding: 0;
    text-align: center; }
}

.pricing-table__button-spacer{
  flex-grow: 1;
}


.pricing-table__plan-description {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 25px;
}


.pricing-table__get-started {
  text-align: center;
  span{
    font-weight: bold;
  }
}

@media all and (max-width: 599px) {
  .pricing-table__option {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.pricing-table__option--standard {
  background-color: #f8b365;
  margin-left: 0 ! important; }


.pricing-table__price {
  font-weight: bold;
  text-align: center;
  font-weight: 300;
  strong {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
  }
  // span {
  //   font-weight: normal;
  //   font-weight: 300;
  // }
}

.pricing-table__price--annually {
  line-height: 1;
  margin-top: 0;
}

.pricing-table__contact-us {
  font-weight: 400;
  text-align: left;
  margin-top: 3rem;
}
