%footer.footer
  .wrapper
    %section.footer__section.grid
      %ul.footer__list
        %li.footer__item
          %a{href: '/'} Home
        %li.footer__item
          %a{href: '/users/sign_in'} Login
        %li.footer__item
          %a{href: '/start_group'} Start a group
        %li.footer__item
          %a{href: '/contact'} Contact
        %li.footer__item
          %a{href: '/about'} About
        %li.footer__item
          %a{href: '/pricing', target: '_blank'} Pricing
      %ul.footer__list
        %li.footer__item
          %a{href: 'http://blog.loomio.org/category/stories', target: '_blank'} Case studies
        %li.footer__item
          %a{href: 'http://help.loomio.org', target: '_blank'} Help
        %li.footer__item
          %a{href: 'http://blog.loomio.org/category/guides', target: '_blank'} Guides & tips
        %li.footer__item
          %a{href: 'https://github.com/loomio/loomio', target: '_blank'} Developers
        %li.footer__item
          %a{href: '/terms_of_service'} Terms of Service
        %li.footer__item
          %a{href: '/privacy'} Privacy
      %ul.footer__list
        %li.footer__item
          %a{href: '/translation'} Translation
        %li.footer__item
          %a{href: 'http://blog.loomio.org', target: '_blank'} Blog
        %li.footer__item
          %a{href: 'http://eepurl.com/b51x_b', target: '_blank'} Newsletter
        %li.footer__item
          %a{href: 'https://twitter.com/Loomio', target: '_blank'} Twitter
        %li.footer__item
          %a{href: 'https://www.facebook.com/Loomio/', target: '_blank'} Facebook
    .footer__trademark-statement.fs-small
      © 2016 Loomio Cooperative Limited. All rights reserved. “Loomio” is a registered trademark of Loomio Cooperative Limited.
