!!!
%html
  %head
    %meta{charset: "UTF-8"}
    = stylesheet_link_tag 'pages/static'
    %link{rel: "stylesheet", href:"https://fonts.googleapis.com/icon?family=Material+Icons"}

  %body
    %header
      %nav.nav
        = image_tag 'pages/images/logo.png', class: 'nav__logo'
        .nav__spacer
        %a.nav__link{href: "/users/sign_up"} login
        %a.nav__link{href: "/users/sign_in"} signup

    %section.full-screen
      .liner
        .banner.p2.txt--center
          %h1 Simple pricing
        .grd
          .grd-row
            .grd-row-col-3-6
              = image_tag 'pages/images/happy-loomio-users.png'
            .grd-row-col-3-6
              %h3 Upgrade your conversation
              %p
                Drop a Loomio decision into your Email, Slack or Facebook conversation and see how things improve.
              %h3 Save everyone time
              %p
                Participation is quick and easy, no signup or passwords required.
              %h3 Make better decisions
              %p
                Find the best solution and build confidence in the group.
