%md-dialog.pricing-table__modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      .buh
      %h1.lmo-h1{translate: "pricing_page.upgrade_for_premium_features"}
      %material_modal_header_cancel_button

  .md-dialog-content.md-body-1
    .pricing-table__flex
      .pricing-table__option.pricing-table__option--gift
        %h2{translate: "pricing_page.gift"}
        %p.pricing-table__price{translate: "pricing_page.gift_price_html"}
        %p.pricing-table__price--annually &nbsp;
        %p.pricing-table__plan-description{translate: "pricing_page.gift_body"}
        %p.pricing-table__plan-includes{translate: "pricing_page.gift_features"}
        %ul
          %li{translate: "pricing_page.one_group"}
          %li{translate: "pricing_page.discussions"}
          %li{translate: "pricing_page.decisions"}
          %li{translate: "pricing_page.file_document_storage"}
          %li{translate: "pricing_page.particpate_either_way"}
          %li{translate: "pricing_page.password_free_secure_login"}
          %li{translate: "pricing_page.community_support"}

      .pricing-table__option.pricing-table__option--standard
        %h2{translate: "pricing_page.standard"}
        %p.pricing-table__price{translate: "pricing_page.standard_price_html"}
        %p.pricing-table__price--annually{translate: "pricing_page.annual_standard_price_html"}
        %p.pricing-table__plan-description{translate: "pricing_page.standard_body_html"}
        %p.pricing-table__plan-includes{translate: "pricing_page.standard_features"}
        %ul
          %li{translate: "pricing_page.slack_integration_html"}
          %li{translate: "pricing_page.subgroups"}
          %li{translate: "pricing_page.category_tags"}
          %li{translate: "pricing_page.custom_subdomain_html"}
          %li{translate: "pricing_page.data_export"}
          %li{translate: "pricing_page.customer_support_html"}
        .pricing-table__button-spacer
        %md-button.md-accent.md-raised{ng-click: "choosePaidPlan('standard')", translate: "pricing_page.select"}

      .pricing-table__option.pricing-table__option--plus
        %h2{translate: "pricing_page.plus"}
        %p.pricing-table__price{translate: "pricing_page.plus_price_html"}
        %p.pricing-table__price--annually{translate: "pricing_page.annual_plus_price_html"}
        %p.pricing-table__plan-description{translate: "pricing_page.plus_body_html"}
        %p.pricing-table__plan-includes{translate: "pricing_page.plus_features"}
        %ul
          %li{translate: "pricing_page.multiple_groups"}
          %li{translate: "pricing_page.analytics_report"}
          %li{translate: "pricing_page.premium_support"}
          %li{translate: "pricing_page.ldap_coming_soon"}

        .pricing-table__button-spacer
        %md-button.md-accent.md-raised{ng-click: "choosePaidPlan('plus')", translate: "pricing_page.select"}

    .modal-footer
      .pricing_page__footer
        %p{translate: "pricing_page.prices_in_us_dollars"}
        %p{translate: "pricing_page.free_is_for_community_and_evaluation_html"}
        %p
          %span{translate: "pricing_page.need_something_else_html"}
          %a{translate: "pricing_page.lets_talk", ng-click: "openIntercom()"}>
        %p{translate: "pricing_page.privacy_respected"}
